{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
  <title>facebook clone</title>
</head>
<body class="overall">
    <div class="ivg">
        <img class="img" src="{% static 'images/download.svg' %}" alt="Facebook">
    </div>
    <div class="container">
        <div class="container1">
            <span>
                <div class="container_header">Log in to Facebook</div>
            </span>
        </div>
        <div class="log_in_form_container">
            <form>
                <div class="forms">
                    <input type="text" class="emails_1" id="email" name="email" placeholder="Email address or Phone number" 
                    aria-label="Email address or Phone number"><br>
                </div>    
                <div class="forms">
                    <input type="password" class="passWord" id="passW" name="passW" placeholder="Password"><br>
                </div>   
            </form>
        </div>
        <div class="btn">
            <button type="button" name="bttn" class="login_bbtn" id="bttn" type="submit">Log in</button>
        </div> 
        <div class="fg">
            <a href="https://web.facebook.com/recover/initiate/?ars=facebook_login" class="fg1" 
                target="">Forgotten account?</a>
        </div>
        <div class="o1">
            <!-- <hr> -->
            <span class="break_line">or</span>
            <!-- <hr> -->
        </div>
        <div class="cr1">
            <a role="button" class="cr2" href="/r.php?locale=en_GB&ampdisplay=page">Create new account</a>
        </div>
    </div>
    
</body>


</html>